@model Blog.Models.UserInfo
@{
    ViewBag.Title = "UserPage";
}


Your information:
<table class="table"


        <tr ><td>Login: @Model.Login</td></tr>

        <tr><td>Name: @Model.Name</td></tr>

        <tr><td>Email: @Model.Email </td></tr>

        <tr><td>Age: @Model.Age</td></tr>
        <tr><td>Password: @Model.Password

        </table>
<div><a class="btn btn-info" asp-action="EditUser" asp-controller="Account">Edit information </a> </div>
<div><a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="SignOut">SignOut</a></div>
<div><a class="btn btn-warning" asp-area="" asp-controller="Account" asp-action="DeleteUser">Delete my account</a></div>